# Auth Service Base URL
VITE_API_BASE_URL=http://localhost:9012

# User Service Base URL
VITE_USER_SERVICE_URL=http://localhost:8080

# Auth API Endpoints
VITE_AUTH_LOGIN=/auth/login
VITE_AUTH_REGISTER=/auth/register
VITE_AUTH_FORGOT_PASSWORD=/auth/forgot-password
VITE_AUTH_RESET_PASSWORD=/auth/reset-password
VITE_AUTH_VERIFY_EMAIL=/auth/verify
VITE_AUTH_REFRESH_TOKEN=/auth/refresh-token
VITE_AUTH_LOGOUT=/auth/logout

# Session API Endpoints
VITE_SESSIONS=/sessions

# Profile API Endpoints
VITE_PROFILE=/profile
VITE_PROFILE_SKILLS=/profile/skills
VITE_PROFILE_EDUCATION=/profile/education
VITE_PROFILE_CERTIFICATES=/profile/certificates
VITE_PROFILE_WORK_EXPERIENCE=/profile/work-experience

# Connection API Endpoints
VITE_CONNECTIONS=/connections
